html{
	height: 100%;width: 100%;
	body{
		background-color: #efefef;
		background-image: url(/images/geometry_@2X.png);
		padding-top: 70px;
	}	
	a{ color: #777; }
	a:hover{color: #81c105;}
	.bg.hakase{
		background-image: url(/images/illustrate.png);
		background-position: right bottom ;
		background-size: auto 70%;
		background-repeat: no-repeat;
		position: fixed;;
		top: 0; left: 0; right: 0; bottom: 0;
		height: 100%;width: 100%;
		opacity: 0.8;
		z-index: -1;
		@media screen and (max-width: 767px) {
			opacity: 0.4;
			background-size: contain;
			left: 30%; right: -30%;
		}
	}
	.message {
		margin:10px auto;
		font-size: 12px;
		h4{
			font-size: 16px;
			font-weight: bold;
		}
		a{
			color: #222;
			text-decoration: underline;
		}
		display: inline-block;
		padding: 10px;
		width: 100%;
		overflow: hidden;
		background: rgba(240,240,255,0.8);
		border-radius:8px;	
		&:hover{
			color: #555;
			background: rgba(240,255,240,0.8);
			text-decoration: none;
		}
		/* a{
				
		} */

		.caption{
			border-left: 2px solid #777;
			margin-left: 20px;
			padding: 5px;
		}
		img.social{
			float: right;
			width: 100px;
			margin: -8px -12px;
		}
		img.emotion{
			float: left;
			margin:8px;
		}
		img.img-thumbnail{
			max-height: 150px;
			margin:10px auto;
		}
		
		.highlight{
			background-color: rgba(198, 236, 86, 0.4);
		}
		.highlight.related{
			background-color: rgba(67, 155, 255, 0.3);
		}
		.highlight.search{
			background-color: rgba(255, 130, 67, 0.65098);
		}
	}
	/* .emoticon{
		margin: 5px;
		a{
			width: 60px; height: 60px;
			display: inline-block;
			padding: 6px;
			background: rgba(255,255,255,0.8);
			border-radius:8px;		
		}
		&:hover{
			a{
				background: rgba(153,203,56,0.3);
			}
		}

	} */
	.hotTerm{
		font-size:40px;
		margin: 8px;
		display: inline-block;
		white-space: nowrap;
		span{
			background: rgba(255,255,255,0.8);
			display:inline-block;
			padding:2px;
			border-radius:8px;
		}
		&:hover{
			span{
				background: rgba(153,203,56,0.2);
			}
		}
	}
	.main-logo{
		background-image: url(/images/Magnifying-Glass-high-res-psd53394.png);
		background-repeat: no-repeat;
		background-position:center;
		background-size: contain;
		width: 400px; height: 160px;
		margin: 30px auto;
	}
	.logo{
		font-family: 'Roboto', sans-serif;
		font-size: 18px;
		//line-height: 50px;
		font-style:italic;
		color: #efefef;
		padding: 5px 0px;
		float: left;
		margin: 0 15px;
		text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;

		.emoticons{
			margin-left: 5px;
			font-weight: normal;
			font-size: 28px;
			//color: #99CB38
			color: #FA9F62
		}
		.beta{
			font-family: sans-serif;
			font-weight: normal;
			font-size: 9px;
			color: #FFF;
			position: relative;
			top: -10px; left: 3px;
		}
	}
}
